{% extends "delaysOverTime.html" %}

{% block body %}
{{ super() }}

<script type="text/javascript">
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light1", // "light2", "dark1", "dark2"
	animationEnabled: false, // change to true		
	title:{
		<!-- text: "Delays at "+{{ airportName }}+" over time" -->
		text: "{{ titleText }}"
	},
	data: [
	{
		// Change type to "bar", "area", "spline", "pie",etc.
		type: "spline",
		dataPoints: [
			{{ chartAdd1 }}
		]
	}
	]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 300px; width:100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}
